<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" text="text/css3" href="/static/css3/style.css">
    <html>
    <head>
        <title>SIGN UP FORM</title>
        <link rel="stylesheet" text="text/css" href="/static/css1/style.css">
        <div class="Sign-Up-Form">
            <img src="/static/images/ZERO.png">
            <p>LOG IN FORM</p>
            <form action="checkLoginIn" onsubmit="return test()">
                <input type="email" class="input-box" name="email" placeholder="Your Email">
                <input type="password" class="input-box" name="pwd" id="pwd" placeholder="YoUR password">
                <button type="submit" class="signup-btn">Log In</button>
                 <h1><div>{{ xyz }}</div></h1>
                <br></form>

        </div>

            </head>
    </html>
</head>
<body>

</body>
</html>